<div class="container">
  <div class="row">
    <div class="col-12">
      <%= search_form_for @q do |f| %>

      <%= f.label "Search on any parametr" %>
      <%= f.search_field :dictionaryName_cont  %>

        <%= f.submit %>
      <% end %>
      <!-- <div class="table-responsive"> -->
        <table class="table text-truncate">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Scode</th>
              <th scope="col">Type</th>
              <th scope="col">DictionaryName</th>
              <th scope="col">ShortName</th>
              <th scope="col">Rank</th>
              <th scope="col">Fname</th>
              <th scope="col">Sname</th>
              <th scope="col">Other</th>
              <th scope="col">Label</th>
              <th scope="col">Wiki</th>
              <th scope="col">Comment</th>
              <th scope="col">English Google Geocoding</th>
              <th scope="col">English Translit</th>
              <th scope="col">English GIZ</th>
              <th scope="col">Russian OSM</th>
            </tr>
          </thead>
          <tbody>
            <% @streets.each do |street|%>
            <tr>
              <th scope="row"><%= street.num %></th>
              <td><%= street.scode %></td>
              <td><%= street.streetType %></td>
              <td><%= street.dictionaryName %></td>
              <td><%= street.shortName %></td>
              <td><%= street.rank %></td>
              <td><%= street.fname %></td>
              <td><%= street.sname %></td>
              <td><%= street.other %></td>
              <td><%= street.label %></td>
              <td><%= street.wiki %></td>
              <td><%= street.city %></td>
              <td><%= street.grount %></td>
              <td><%= street.comment %></td>
              <td><%= street.englishGoogleGeocoding %></td>
              <td><%= street.englishTranslit %></td>
              <td><%= street.englishGiz %></td>
              <td><%= street.russianOsm %></td>
            </tr>
            <% end %>
         </tbody>
        </table>
      <!-- </div> -->
    </div>
  </div>
</div>

